    {
      "alert": {
        "conditions": [
          {
            "evaluator": {
              "params": [
                0,
                0
              ],
              "type": "outside_range"
            },
            "operator": {
              "type": "and"
            },
            "query": {
              "params": [
                "A",
                "10s",
                "now"
              ]
            },
            "reducer": {
              "params": [],
              "type": "diff"
            },
            "type": "query"
          },
          {
            "evaluator": {
              "params": [
                0,
                0
              ],
              "type": "outside_range"
            },
            "operator": {
              "type": "or"
            },
            "query": {
              "params": [
                "B",
                "10s",
                "now"
              ]
            },
            "reducer": {
              "params": [],
              "type": "diff"
            },
            "type": "query"
          }
        ],
        "executionErrorState": "alerting",
        "frequency": "6s",
        "handler": 1,
        "message": "{{.SwitchIP}} port {{.PortIdx}} {{.PortDesc}} - Status was changed",
        "name": " {{.SwitchIP}} port {{.PortIdx}} {{.PortDescr}} alert",
        "noDataState": "no_data",
        "notifications": [
          {
            "id": 2
          }
        ]
      },
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "${DS_PROMETHEUS}",
      "fill": 1,
      "gridPos": {
        "h": {{.H}},
        "w": {{.W}},
        "x": {{.X}},
        "y": {{.Y}}
      },
      "id": {{.ID}},
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "hideEmpty": false,
        "hideZero": false,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "ifAdminStatus{instance='{{.SwitchIP}}', ifIndex='{{.PortIdx}}'}",
          "format": "time_series",
          "instant": false,
          "intervalFactor": 1,
          "legendFormat": "Admin status {{.ifIndex}}",
          "refId": "A"
        },
        {
          "expr": "ifOperStatus{instance='{{.SwitchIP}}', ifIndex='{{.PortIdx}}'}",
          "format": "time_series",
          "instant": false,
          "intervalFactor": 1,
          "legendFormat": "Oper status {{.ifIndex}}",
          "refId": "B"
        },
        {
          "expr": "ifDescr{instance='{{.SwitchIP}}', ifIndex='{{.PortIdx}}'}",
          "format": "time_series",
          "hide": true,
          "intervalFactor": 1,
          "legendFormat": "",
          "refId": "C"
        }
      ],
      "thresholds": [
        {
          "colorMode": "critical",
          "fill": true,
          "line": true,
          "op": "lt",
          "value": 0
        },
        {
          "colorMode": "critical",
          "fill": true,
          "line": true,
          "op": "gt",
          "value": 0
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "{{.SwitchIP}} port {{.PortIdx}} {{.PortDesc}}",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "transparent": false,
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }